services:
  - type: web
    name: mini-jsx-framework
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    branch: main
    routes:
      - type: rewrite
        source: /*
        destination: /index.html